/* style sheet for bio.html */

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #425196;	
	background-color: #3c6fc1;
	background:-o-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:-moz-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:-ms-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:linear-gradient(-179deg, #425196 0%,#fc8f9a 100%);
	background-repeat: no-repeat;
    background-position: center;

}

.bio_body {
	height: 100vh;
}

h1 {
	font-size: 60px;
	color: white;
	font-weight: 200;
}

h2 {
	font-size: 35px;
	color: white;
	font-weight: 200;
}
/*.bio-container {
	display:flex;
	justify-content: center;
}*/

hr {
	display: block;
	margin-top: 0.5em;
	margin-left: auto;
	border-style: inset;
	width: 75vw;
	border-width: 1px;
	color: white;
	border-color: white;
}


#bio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}
.header {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.home {
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.nothome {
	margin-right: 12%;
	display: flex; 
	text-align: right; 
	flex-direction: row;
	justify-content: flex-end;
}

.content {
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 10%;
}

#photo {
	display: flex;
	
	flex-direction: row;
	justify-content: flex-end;

}

.photo {
	margin-right: 15%;
	margin-top: 5%;
}
a {
	color:white;
	margin: 5px;
	margin-top: 5px;
	text-decoration: none;
	font-size: 30px;
}

p {
	color: white;
	margin-top: 20px;
}

a:hover {
	color: #fc8f9a;
}