/* Index.html CSS file */


h1 {
	font-size: 68px;
	font-family: "Avenir-Medium", Helvetica, "Helvetica Neue", Arial, sans-serif;
	color: green;
	font-style: normal;
}
body {
	background-color: #add8e6;
}
.resize{
	max-width: 45%;
	max-height: 45%;
}
.rotate90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

