/* Style sheet for newindex.html */

.home {
	background-color: white;
	font-size: 40px;
	font-family: 'Merriweather', serif;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 100px;
}

.demos {
	margin-bottom: 170px;
}
.nav_bar {
	font-size: 20px;
	
}
h3 {
	font-size: 35px;
	text-align: center;
}

h4 {
	font-size: 30px;
}

.sections {
	margin-top: 100px;
}

#icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.about_me {
	font-size: 20px;
	font-family: 'Merriweather', serif;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

.work {
	font-family: 'Merriweather', serif;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}