/* Style sheet for work.html*/

body {
	font-family: Helvetica, Arial, sans-serif;
	margin-left:50px;	
	/*background-color: #778fb6; */

	background-color: #3c6fc1;
	background:-o-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:-moz-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:-ms-linear-gradient(-89deg, #425196 0%, #fc8f9a 100%);
	background:linear-gradient(-179deg, #425196 0%,#fc8f9a 100%);
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
}

.work_body {
	height:100vh;
}