/* Style sheet for enp149blog.html */

h1 {
	text-align: center;
	color: white;
}

h2 {
	color:white;
}
body {
	background-color: #259996;
	font-size:20px;
	font-family: 'Lato', serif;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 200px;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}
.content {
	margin-left: 10%;
	margin-right: 10%;
}

.back_arrow {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	margin-left: 8%;
}

a {
	position: relative;
	font-style:normal;
	text-decoration: none;
	color: #2e5cb8;/*#425185;*/
}

a:hover {
	color: #fc8f9a;
}