/* Style sheet for taskAnalysisBlog.html */

h1 {
	text-align: center;
}

body {
	font-family: 'Merriweather', serif;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

.pb_toast {
	text-align: center;
}